/* fonts */
@font-face {
    font-family: 'JakartaB';
    src: url(./assets/fonts/static/PlusJakartaSans-ExtraBold.ttf);
}
@font-face {
    font-family: 'JakartaM';
    src: url(./assets/fonts/static/PlusJakartaSans-Medium.ttf);
}
/* global */
:root{
    /* PRIMARY */
    --red: hsl(1, 90%, 64%);
    --blue:hsl(219, 85%, 26%);
    /* Neutral */
    --white:hsl(0, 0%, 100%);
    --very-light-grayish-blue:hsl(210, 60%, 98%);
    --light-grayish-blue1:hsl(205, 33%, 90%);
    --light-grayish-blue2:hsl(219, 14%, 63%);
    --grayish-blue:hsl(219, 12%, 42%);
    --very-dark-blue:hsl(224, 21%, 14%);

    font-size: 6.25%;
    --xl:24rem;
    --lg:20rem;
    --md:18rem;
    --sm:16rem;

    --notif-size:100rem;
}   
*{  
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{

    font-family: 'JakartaM';
    font-size: var(--sm); /* ojo quitar luego */

    background-color: var(--light-grayish-blue1);
}
/* layout */
main{
    width: 100vw;
    height: 98vh;
    min-height: 900rem;
    padding: 0rem 20rem 30rem 20rem;

    background-color: var(--white);
    overflow-y: auto;
}
.up{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10%;
}
.down{
    display: grid;
    grid-template-rows:repeat(auto-fit, minmax(var(--notif-size), auto));
    grid-auto-rows: minmax(var(--notif-size), auto);
    gap: 16rem;

    height: auto;

}
/* typography */
.up__title{
    margin-right: 12rem;

    color: var(--very-dark-blue);
    font-family: 'JakartaB';
    font-size: var(--xl);
}
.up__right{
    color: var(--grayish-blue);
}
.notif__time{
    margin-top: 2rem;
    color: var(--light-grayish-blue2);
}
.notif__name{
    color: var(--very-dark-blue);
    font-family: 'JakartaB';
}
.notif__textInfo a{
    text-decoration: none;
}
.notif__object{
    font-family: 'JakartaB';
    color: var(--grayish-blue);
}
.group{
    color: var(--blue);
}
/* components */
.readButton:hover, .user:hover, .notif__object:hover {
    cursor: pointer;
    color: var(--blue);
    font-family: 'JakartaB';
}
.notif__picture:hover{
    cursor: pointer;
}
.notif__message:hover{
    background-color: var(--light-grayish-blue1);
    cursor: pointer;
}
.up__left{
    display: flex;
}
.up__unreadnum{
    display: block;
    text-align: center;
    line-height: 30rem;
    
    width: 35rem;
    
    font-weight: 600;
    color: var(--white);
    
    border-radius: 7rem;
    background-color: var(--blue);
}
.notif{
    display: flex;
    align-items: center;

    padding: 16rem;

    background-color: var(--very-light-grayish-blue);
    border-radius: 8rem;
}
.notif:hover{cursor: pointer;}
.notif__avatar{
    width: 50rem;
    height: 50rem;
    margin-right: 12rem;
}
.textNotif{
    display: inline;
}
.notif__picture{
    width: 45rem;
    height: 45rem;
}
#n5{
    display: grid;
    grid-template-columns: 62rem auto 45rem;
}
#n4{
    display: grid;
    grid-template-rows: 60rem 1fr;
    grid-template-columns: 62rem 1fr;
}
.notif__message{
    grid-area: 2/2/3/3;

    margin-top: 8rem;
    padding: 16rem 16rem;

    border: 1rem solid var(--light-grayish-blue1);
    border-radius: 8rem;
}
.notif__redDot{
    display: inline-block; 
    
    margin-left: 4rem;
    width: 10rem;
    height: 10rem;

    background-color: var(--red);
    border-radius: 5rem;
}
/* states */
.inactive{display: none;}
.readed{background-color: var(--white);}
@media (min-width:500px){
    body{
        display: grid;
        place-items: center;
        height: 100vh;
    }
    main{
        width: 52%;
        height: 85%;
        max-width: 730rem;
        min-width: 500rem;
        min-height: 500rem;

        border-radius: 12rem;
        /* scrollbar */
        overflow-y: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;

    }
    /* scrollbar en otros navegadores */
    main::-webkit-scrollbar{
        display: none;
    }
    .notif__avatar{
        margin-right: 16rem;
    }
    #n4{
        grid-template-columns: 66rem 1fr;
    }
    #n5{
        grid-template-columns: 66rem auto 45rem;
    }
}